{{ form_start(newsForm) }}
    {{ form_widget(newsForm) }}
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
    <button class="btn btn-light"><a href="{{ path('news_index') }}">Volver</a></button>
{{ form_end (newsForm)}}