{% extends 'base.html.twig' %}

{% block title %}Crear Noticia{% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container w-75 m-5" >
        <h3>Crear Noticia</h3>


        {{ include('news/Admin/_formNews.html.twig', {
            button_text: 'Crear'
        })

        }}

    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}