{% extends 'base.html.twig' %}

{% block title %}Editar Noticia{% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container w-75 m-5" >
        <h3>Editar noticia <span class="font-weight-bold">{{ newsTitle }}</span></h3>
        {{ include('news/Admin/_formNews.html.twig', {
            button_text: 'Editar'
        }) }}

    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}