{% extends 'base.html.twig' %}

{% block title %}Noticias{% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container m-5" >
        <div class="row mb-3">

            <div class="col-5">
                <h3>Lista de Noticias</h3>
            </div>

            <div class="col-5">

                <form class="form-inline  " method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="name" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </div>
            <div class="col-2">
                <a class="btn btn-success" href="{{ path('news_create_admin') }}">+ Crear noticia</a>
            </div>


        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Categoria</th>
                <th scope="col">Visible</th>
                <th scope="col">Fecha creacion</th>
                <th scope="col">Editar</th>

            </tr>
            </thead>
            <tbody>
            {% for new in news %}
                <tr>
                    <th scope="row"> {{ new.id }}</th>
                    <td><a href="{{ path('news_page',{slug:new.slug}) }}">{{ new.title }}</a></td>
                    <td>{{ new.description }}</td>
                    <td>{{ new.category }}</td>
                    <td>{{ new.enabled}}</td>
                    <td>{{ new.createdAt|date("d/m/Y") }}</td>
                    <td>{{ new.updatedAt|date("d/m/Y")}}</td>
                    <td><a href="{{ path('news_edit_admin',{ slug:new.slug }) }}">Editar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}