{{ form_start(loginForm) }}
    {{ form_row(loginForm.email)}}
    {{ form_row(loginForm.user)}}
    {{ form_row(loginForm.password)}}

<button class="btn btn-primary mb-5" type="submit">{{ button_text }}</button>
{{ form_end(loginForm)}}
