{% extends 'base.html.twig' %}

{% block title %}Noticias Principal{% endblock %}



{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">
{% endblock %}




{% block body %}
{{ parent() }}


  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">¡Noticias Practica!

        </h1>

        {% for new in news %}
          <div class="card mb-4">

            {# Only during development #}
            {% if fileUrl(new.fullPathAndKey) matches '/lorempixel/' %}
              <img  src="{{ new.img }}" width="auto" height="auto">
              {% else %}
                <img src="{{ fileUrl(new.fullPathAndKey) }}" alt="">
            {% endif %}

            <div class="card-body">
              <h2 class="card-title"><a href="{{ path('news_page',{slug:new.slug}) }}">{{ new.title }}</a></h2>
              <p class="card-text">{{new.description}}</p>

            </div>
            <div class="card-footer text-muted">
              <p class="font-weight-bold mb-0">Categoria: {{ new.category }}</p>
              <p class="font-weight-lighter">Creada en: {{ new.createdAt|date('d/m/Y H:m:s') }}</p>



            </div>
          </div>
      {% endfor %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Buscar Noticia</h5>
          <div class="card-body">
            <div class="input-group">
              <form action="{{ path('news_index') }}" method="GET">
                <div class="row">
                <input type="text" class="form-control col-7 ml-2" placeholder="Nombre de noticia" name="name">
                  <button class="btn btn-secondary ml-1" type="submit">Buscar</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categorias</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for category in categories %}
                  <li>
                    <a href="{{ path('category_news',{name:category}) }}">{{ category }}</a>
                  </li>

                  {% endfor %}
                </ul>
              </div>

            </div>
          </div>
        </div>



      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


{% endblock %}


{% block javascripts %}
  <script src="{{ asset('js/gulpfile.js') }}"></script>
{% endblock %}