{% extends 'base.html.twig' %}

{% block title %}Hello PrincipalViewController!{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container w-25 mb-5 rounded mt-3">
    <h2>Registrarse</h2>
        {{ form_start(userForm) }}
            {{ form_widget(userForm) }}
        <button type="submit">Registrarse</button>
        {{ form_end(userForm) }}

    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/gulpfile.js') }}"></script>
{% endblock %}