{% extends 'base.html.twig' %}

{% block title %}Noticias{% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container m-5" >

        <div class="row justify-content-center ">
            <div class="col-12 d-flex justify-content-center">
                <form action="{{ path('news_index') }}" method="GET">
                    <div class="row">
                        <input type="text" class="form-control col-7 " placeholder="Nombre de noticia" name="name">
                        <button class="btn btn-primary ml-1" type="submit">Buscar</button>
                    </div>
                </form>

            </div>

            <div class=" col-12 d-flex justify-content-center">
                {% for category in categories %}
                    <button type="button" class="btn btn-secondary m-1"><a class="text-decoration-none" href="{{ path('category_news',{name:category}) }}">{{ category }}</a></button>
                {% endfor %}
            </div>

            <h3 class="font-weight-bold">Lista de noticas</h3>
        </div>


        <div class="row mb-3 d-flex justify-content-center">
            {% for new in news %}
                <div class="card mb-4">


                    {# Only during development #}
                    {% if fileUrl(new.fullPathAndKey) matches '/lorempixel/' %}
                        <img  src="{{ new.img }}" width="750" height="300">
                    {% else %}
                        <img src="{{ fileUrl(new.fullPathAndKey) }}" width="750" height="300"alt="">
                    {% endif %}

                    <div class="card-body">
                        <h2 class="card-title"><a href="{{ path('news_page',{slug:new.slug}) }}">{{ new.title }}</a></h2>
                        <p class="card-text">{{new.description}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="font-weight-bold mb-0">Categoria: {{ new.category }}</p>
                        <p class="font-weight-lighter">Creada en: {{ new.createdAt|date('d/m/Y H:m:s') }}</p>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}


{% block javascripts %}
{% endblock %}