{{ form_start(categoryForm) }}
            {{ form_widget(categoryForm) }}
<button type="submit" class="btn btn-primary">{{ button_text }}</button>
<button class="btn btn-light"><a href="{{ path('category_index') }}">Volver</a></button>
{{ form_end (categoryForm)}}