{% extends 'base.html.twig' %}

{% block title %}Hello PrincipalViewController!{% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container w-75 m-5" >
       <h3>Editar categoria</h3>
        {{ include('category/Admin/_formCategory.html.twig', {
            button_text: 'Editar'
        }) }}

    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}