{% extends 'base.html.twig' %}

{% block title %}Categorias {% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container m-5" >
        <div class="row mb-3">


            <div class="col-6">
                <h3>Lista de categorias</h3>
            </div>

            <div class="col-4">

                <form class="form-inline  " method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="name" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </div>


            <div class="col-1">
                <button class="btn btn-success"><a href="{{ path('category_create_admin') }}" style="color:#FFFFFF">Añadir Categoria</a></button>
            </div>



        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria</th>
                <th scope="col">Visible</th>
                <th scope="col">Fecha creacion</th>
                <th scope="col">Fecha modificacion</th>
                <th scope="col">Editar</th>

            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <th scope="row"> {{ category.id }}</th>
                    <td><a href="{{ path('category_news_admin',{name:category.name}) }}">{{ category.name }}</a></td>
                    <td>{{ category.enabled == 1 ? 'Si' : 'No' }}</td>
                    <td>{{ category.createdAt|date("d/m/Y") }}</td>
                    <td>{{ category.updatedAt|date("d/m/Y")}}</td>
                    <td><a href="{{ path('category_edit_admin',{ id:category.id }) }}">Editar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}