{% extends 'base.html.twig' %}

{% block title %}{{ name }} Noticias {% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container m-5" >
        <div class="row mb-3">



            <div class="col-6">

                <h3>Listado de noticia de la categoria: <span class="font-weight-bold">{{ name }}</span></h3>
            </div>

            <div class="col-4">

                <form class="form-inline" action="{{ path('news_index_admin') }}" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="name" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </div>
            <div class="col-1">
                <button class="btn btn-success"><a href="#" style="color:#FFFFFF">Añadir Noticia</a></button>
            </div>



        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Visible</th>
                <th scope="col">Fecha creacion</th>
                <th scope="col">Editar</th>

            </tr>
            </thead>
            <tbody>
            {% for new in news %}
                <tr>
                    <th scope="row"> {{ new.id }}</th>
                    <td><a href="{{ path('news_page',{slug:new.slug}) }}">{{ new.title }}</a></td>
                    <td>{{ new.description }}</td>
                    <td>{{ new.enabled}}</td>
                    <td>{{ new.createdAt|date("d/m/Y") }}</td>
                    <td><a href="#">Editar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button class="btn btn-danger text-decoration-none" ><a  href="{{ app.request.headers.get('referer') ?  app.request.headers.get('referer') : path('category_index_admin') }}">Volver</a></button>


    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}