{% extends 'base.html.twig' %}

{% block title %}Noticias{% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
    <div class="card m-3">
        <h2 class="card-header"> {{ news.category }}</h2>
        <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <img src="{{ fileUrl(news.fullPathAndKey) }}" alt="{{ news.description }}" width="700" height="500">

            <img class="card-img" src="{{ news.img }}" width="500" height="500" alt="{{ news.description }}">
            <p class="card-text">{{ news.body }}</p>

        </div>
    </div>
        <button class="btn btn-danger text-decoration-none" ><a  href="{{ app.request.headers.get('referer') ?  app.request.headers.get('referer') : path('news_index') }}">Volver</a></button>
    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}