<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/helper.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}

            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('userHome') }}"> Noticias Practica! </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item {{ isHome is defined ? 'active' : null }}">
                                <a class="nav-link" href="{{ path('userHome') }}">Pagina principal
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item {{ isNews is defined ? 'active' : null }}">
                                    <a class="nav-link" href="{{ path('news_index_admin')  }}">Noticias</a>
                                </li>
                                <li class="nav-item {{ isCategory is defined ? 'active' : null }}">
                                    <a class="nav-link" href="{{ path('category_index_admin') }}">Categorias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">{{ app.user.name }}</a>
                                </li>

                                <li class="nav-item {{ isCategory is defined ? 'active' : null }}">
                                    <a class="nav-link" href="{{ path('base_bundle_logout') }}">Logout</a>
                                </li>

                                {% else %}
                                    <li class="nav-item {{ isNews is defined ? 'active' : null }}">
                                        <a class="nav-link" href="{{ path('news_index')  }}">Noticias</a>

                                    <li class="nav-item {{ isLogin is defined ? 'active' : null }}">
                                        <a class="nav-link" href="/login">Login</a>
                                    </li>


                            {% endif %}

                        </ul>
                    </div>
                </div>
            </nav>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="card bg-warning border-0 rounded-0">
                <div class="card-body border-0  h-25 font-weight-bold">
                        Modo admin
                </div>
            </div>
            {% endif %}


        {% endblock %}

        <!-- Footer -->
        <footer class="mt-auto py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
            </div>
            <!-- /.container -->
        </footer>

        {% block javascripts %}
            <script src="{{ asset('bundles/dsarhoyabase/js/jquery-1.10.2.js') }}"></script>
        {% endblock %}
    </body>
</html>
