{% extends 'base.html.twig' %}

{% block title %}Categorias {% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container m-5" >
        <div class="row mb-3">



    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}