{% extends 'base.html.twig' %}

{% block title %}{{ name }} Noticias {% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}">



{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container m-5" >



        <div class="row justify-content-center">
            <form action="{{ path('news_index') }}" method="GET">
                <div class="row">
                    <input type="text" class="form-control col-7 " placeholder="Nombre de noticia" name="name">
                    <button class="btn btn-primary ml-1" type="submit">Buscar</button>
                </div>
            </form>
            <div class="row ">
                    {% for category in categories %}
                        <button type="button" class="btn btn-secondary m-1"><a class="text-decoration-none" href="{{ path('category_news',{name:category}) }}">{{ category }}</a></button>
                    {% endfor %}

                <h3 class="font-weight-bold">Categoria : {{ name }}</h3>
            </div>
        </div>

            <div class="row mb-3 d-flex justify-content-center">
            {% for new in news %}
                <div class="card mb-4">
                    {# Only during development #}
                    {% if fileUrl(new.fullPathAndKey) matches '/lorempixel/' %}
                        <img  src="{{ new.img }}" width="auto" height="300">
                    {% else %}
                        <img src="{{ fileUrl(new.fullPathAndKey) }}" width="750" height="300" alt="">
                    {% endif %}

                    <div class="card-body">
                        <h2 class="card-title"><a href="{{ path('news_page',{slug:new.slug}) }}">{{ new.title }}</a></h2>
                        <p class="card-text">{{new.description}}</p>
                        <p>{{ new.body }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="font-weight-lighter">Creada en: {{ new.createdAt|date('d/m/Y H:m:s') }}</p>

                    </div>
                </div>
            {% endfor %}
            </div>


        </div>
    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}